li {
  border: 2px solid #f1f4f7;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  li {
    width: 280px;
    min-height: 130px;
    margin-right: 10px;
  }
}

.note-title {
  font-family: 'Roboto';
  margin: 0px;
  margin-bottom: 8px;
  font-size: 25px;
  color: #344862;
  font-weight: bold;
}

.note {
  font-family: 'Roboto';
  margin: 0px;
  color: #334155;
  line-height: 1.2;
}
